# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.swp
*.swo
*~

# Environment
.env
.env.local
.env.*.local

# Testing
coverage/
.nyc_output/

# Build artifacts
build/

# IDE
.eslintcache
.parcel-cache
.cache

# OS
.AppleDouble
.LSOverride
Thumbs.db
*.pem

# Misc
.turbo/
.pnpm-lock.yaml
.yarn/cache
.yarn/unplugged
