@import "tailwindcss";



.button-primary {
  @apply bg-purple-600 text-white px-4 py-2 rounded-md;
}

.button-secondary {
  @apply bg-purple-300 text-white px-4 py-2 rounded-md;
}

:root {
  --color-primary: theme(colors.purple.600);
  --color-secondary: theme(colors.purple.400);
}

.custom-bg {
  background-color: var(--color-primary);
}
